@import "../../styles/variable";

.card {
  border-radius: 12px;
  border: 1px solid $aqua-blue-color;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.04);

  &_img {
    position: relative;
    img {
      width: 100%;
    }
    .tag {
      position: absolute;
      top: 12px;
      right: 12px;
      left: auto;
      z-index: 1;
    }
  }
  &_img_caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-50%);
    position: relative;
    padding: 0 4px;
  }
}
